*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Combo', cursive;
    
}
.menu{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    background-color: rgb(250, 206, 253);
   margin-right: 25px;
    
}
.logo{
    margin-left: 20px;
    width: 50px;
}
.menu a{
    text-decoration: none;
    font-size: 30px;
    color: white;
}

.cuerpo{
    height: 100vh;
    width: 100vw;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.cuerpo h1{
    font-family: 'Combo', cursive;
    color: black;
    font-size: 70px;
    
}
.videoprincipal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    object-fit: cover;

}
.adopta{
    width: 170px;
    height: 60px;
    border-radius: 2em;
    background-color: rgb(242, 182, 246);
    border: none;
}

.adopta a{
    font-family: 'Combo', cursive;
    font-size: 40px;
    text-decoration: none;
    color: aliceblue;
}
.pie{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.iconos{
    width: 30px;
    
}
.container-iconos{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;
}
.main-sn{
    width: 100vw;
    height: 100vh;
    background: repeating-conic-gradient(#FFCFE5 0% 25%,#FFF 0% 50%)
    50%/ 60px 60px;
}

